.button{
  width: 7%;
  margin: 1%;
  text-align: center;
}

.display input{
  height: 50%;
  width: 20%;
  position: relative;
  color: black;
  text-align: center;
}

.display {
	border: 2px solid yellow;
	padding: 2% 2%;
	margin: 10%;
}

#display{
	height: 40%;
	width: 88%;
	margin: 5%;
}

.keys p {
	padding: 1%;
	margin: 0 auto;
}


